*,
html {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(0, 0, 0);
    
}

.container {
    height: 100vh;
}



div {
    background-color: rgba(0, 0, 0, 0);
 ;
}


.navbar {
   
}

.ulnavbar {
    background-color: rgb(18, 1, 34);
    display: flex;
    justify-content: center;
    height: fit-content;
}

.li-navbar {

list-style-type:none;
padding: 5px;
margin: 20px;
color: white;
font-size: 30px;
}

.li-navbar:hover {
    background-color: rgb(179, 0, 255);
    transition: .2s;
    border-radius: 10px;
    
}

.a-navbar {
    color: white;
    text-decoration: none;
}

 
.selamat {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 0px;
    border:3px solid; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.selamat1 {
    margin: 15px;
    padding: 15px;
    font-style: oblique;
    color: rgb(255, 254, 254);

    
}

.bungkus-gambar {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gambar {
    width: 30%;
    height: 30%;
    border: 30px
   
    ;
}

.akhir {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 254, 254);
    font-size: large;
}

.a-content {
    width: 720px;
    height: 480px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 300px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.a-content:hover {
background-color: blueviolet;
}

.contact {
 font-size: 30px;   
 text-decoration: none;
 list-style-type: none;
 
}

.gambar-contact {
    width: 30%;
    height: 30%;
}

.gambar-about {
    width: 30%;
    height: 30%;
}
}